<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="Kho IPA">

  <!-- Màu mặc định (sẽ bị thay đổi bằng JS theo theme) -->
  <meta name="theme-color" content="#ffffff">
  <meta name="background-color" content="#ffffff">
  <link rel="mask-icon" href="../../icon/logo.svg" color="#000000">
  <link rel="alternate icon" class="js-site-favicon" type="image/png" href="../../icon/logo.png">
  <link rel="stylesheet" href="../../common/style.css">
  <link rel="stylesheet" href="all-apps.css">
</head>
<body class="loading">
  <div id="loading">
    <img src="../../common/assets/img/loading.gif" alt="loading">
    <p>Loading</p>
  </div>
  <!-- Add to AltStore banner & navigation bar -->
  <div id="top"></div>
  <div id="main">
    <div id="apps"></div>
  </div>
  <script src="all-apps.js" type="module"></script>
</body>
</html>