#nav-bar.hide-border {
  border-bottom: none;
}

#main h1 {
  margin-bottom: 0.35rem;
  padding: 0 1rem;
}

#main #news-items {
  padding: 0 1rem;
}

.sub-version{
    margin-left:1em;
}
.suggestion {
  padding: 1rem 1rem 1rem 0;
  margin-left: 1rem;
  font-size: 1.1rem;
  border-bottom: 0.1px solid var(--color-separator);
}

.suggestion .bi {
  margin-right: 4px;
}

@media (hover:hover) {
  .suggestion:hover {
    opacity: 0.75;
  }
}

@media (prefers-color-scheme: dark) {
  #main input {
    background-color: rgba(255, 255, 255, 0.07);
    color: white;
  }
  .suggestion {
    border-bottom: 0.1px solid var(--color-separator-dark) !important;
  }
}

#suggestions {
        display: grid;
        width: 768px;
        overflow-x:scroll;
        grid-template-columns: repeat(2, 1fr);
    }
  .source-container {
    max-width:375px;
}
