<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="mask-icon" href="../../icon/logo.svg" color="#000000">
  <link rel="alternate icon" class="js-site-favicon" type="image/png" href="../../icon/logo.png">
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="../../common/style.css">
    <link rel="stylesheet" href="note.css">
</head>
<body class="loading">
    <div id="loading">
      <img src="../../common/assets/img/loading.gif" alt="loading">
      <p>Loading</p>
    </div>
    <!-- Add to AltStore banner & navigation bar -->
    <div id="top"></div>
    <div id="main">
        <div id="content"></div>
    </div>
    <script src="note.js" type="module"></script>
</body>
</html>