#main {
  padding-top: 7rem;
}


#content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* gap: 1em; */
}
.content, a, p{
  font-family: system-ui;
  max-width: 400px;
  word-wrap: break-word;       /* hoặc overflow-wrap: break-word; */
  white-space: normal;

}

@media (prefers-color-scheme: dark) {
  .content{
    background-color: #1e1e1e;
    color: #ddd!important;
  }
}@media (prefers-color-scheme: dark) {
    * {
        color: white !important;
    }
}