<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="#1a191b" media="(prefers-color-scheme: dark)">
    <meta property="og:url" content="https://drphe.github.io">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Kho IPA mod">
    <meta property="og:image" content="https://i.ibb.co/mC29cHDK/IMG-3311.jpg">
    <meta property="og:description" content="All IPA repositories in one place">
    <meta property="og:site_name" content="Kho IPA mod">
    <meta property="og:updated_time" content="1733876108">
    <meta property="og:image:alt" content="All IPA repositories in one place">
    <link rel="mask-icon" href="../icon/logo128x128.png" color="#000000">
    <link rel="icon" href="../icon/logo128x128.ico">
    <link rel="manifest" href="../manifest.json">
    <link rel="stylesheet" href="../common/style.css">
    <link rel="stylesheet" href="./view.css">
    <script src="../common/vendor/marked/marked.min.js"></script>
    <script src="../common/vendor/fslightbox/index.js"></script>
    <script src="../common/vendor/swiper@11/swiper-bundle.min.js"></script>
    <script src="../common/vendor/pulltorefreshjs@0.1.22/index.umd.js"></script>
</head>

<body class="loading">
    <div id="loading">
        <img src="../common/assets/img/loading.gif" alt="loading">
        <p><span data-text="loading">Loading</span></p>
    </div>
    <!-- Add to AltStore banner -->
    <div id="top">
        <div id="nav-bar" class="hide-border">
            <a href="../" class="" title="Back">
                <i class="bi bi-arrow-90deg-left"></i> <span data-text="back">Back</span>
            </a>
            <div id="title" class="hidden">
                <p>KHO IPA MOD</p>
            </div>
            <div class="nav-bar-buttons">
                <a href="" id="edit" target=_blank title="Add News/Apps">
                    <i class="bi bi-pencil hidden" style="font-size: 1rem;"></i>
                </a>
            </div>
        </div>
    </div>
    <div id="main" style="display:none;">
        <p style="margin-top: 0.85rem;">KHO IPA MOD</p>
        <div class="header">
            <h1 id="title">altsource-v2</h1>
            <!-- <a id="add" style="font-size: 1em;" class="hidden">
        <i class="bi bi-plus-circle-fill" style="font-size: 1.35rem;"></i>
      </a> -->
        </div>
        <div id="news" class="section no-padding swiper mySwiperNews">
            <div class="header">
                <a id="all-news">
                    <h2><span data-text="news">News</span></h2><i class="bi bi-chevron-right"></i>
                </a>
            </div>
            <div id="news-items" class="swiper-wrapper"></div>
            <div class="swiper-pagination"></div>
        </div>
        <div id="apps" class="section">
            <div class="header">
                <a id="search">
                    <h2 id="apps-title"><span data-text="featuredapps">Featured Apps</span></h2><i class="bi bi-chevron-right"></i>
                </a>
            </div>
            <div id="featured"></div>
        </div>
        <div id="about" class="section">
            <div class="header">
                <h2><span data-text="about">About</span></h2>
            </div>
        </div>
    </div>
    <div class="bottom-nav-glass">
        <div class="nav-link active" data-target="page-home">
            <svg fill="none" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg">
                <path d="M 41.2657 19.1172 L 50.0783 14.1016 C 49.7264 13.75 49.3045 13.4688 48.7890 13.1875 L 32.2657 3.7657 C 30.8126 2.9453 29.4063 2.5000 28.0000 2.5000 C 26.5938 2.5000 25.1875 2.9453 23.7344 3.7657 L 18.9766 6.4610 Z M 28.0000 26.6406 L 38.0079 20.9688 L 15.8126 8.2891 L 7.2110 13.1875 C 6.6954 13.4688 6.2735 13.75 5.9219 14.1016 Z M 29.5938 53.5 C 29.7579 53.4532 29.8985 53.3828 30.0626 53.2891 L 48.4141 42.8360 C 50.5938 41.5938 51.7890 40.3281 51.7890 36.9297 L 51.7890 18.6719 C 51.7890 17.9688 51.7189 17.4063 51.6018 16.8906 L 29.5938 29.4532 Z M 26.4063 53.5 L 26.4063 29.4532 L 4.3985 16.8906 C 4.2813 17.4063 4.2110 17.9688 4.2110 18.6719 L 4.2110 36.9297 C 4.2110 40.3281 5.4063 41.5938 7.5860 42.8360 L 25.9375 53.2891 C 26.1016 53.3828 26.2422 53.4532 26.4063 53.5 Z"></path>
            </svg>
            <span data-text="source">Source</span>
        </div>
        <div class="nav-link" data-target="page-library">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
                <path d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"></path>
            </svg>
            <span data-text="search">Search</span>
        </div>
        <div class="nav-link" data-target="page-news">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect opacity="0.5" x="7" y="9" width="10" height="10" rx="1" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18 3H6C5.44772 3 5 3.44772 5 4V20C5 20.5523 5.44772 21 6 21H18C18.5523 21 19 20.5523 19 20V4C19 3.44772 18.5523 3 18 3ZM6 1C4.34315 1 3 2.34315 3 4V20C3 21.6569 4.34315 23 6 23H18C19.6569 23 21 21.6569 21 20V4C21 2.34315 19.6569 1 18 1H6Z" />
                <path d="M7 6C7 5.44772 7.44772 5 8 5H12C12.5523 5 13 5.44772 13 6C13 6.55228 12.5523 7 12 7H8C7.44772 7 7 6.55228 7 6Z" />
            </svg>
            <span data-text="news">News</span>
        </div>
        <div class="nav-link" data-target="page-source">
            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 56 56"><path fill="currentColor" d="M13.457 44.758c6.492 6.492 14.93 8.437 19.078 8.836c1.219.14 1.899-.61 1.992-1.383c.094-.82-.422-1.711-1.593-1.875c-3.75-.516-11.508-2.203-17.133-7.898c-9.188-9.211-10.922-23.133-3.422-30.633c6.094-6.07 16.242-5.297 23.719-1.266l2.437-2.367c-9.094-5.461-21.328-5.906-28.5 1.289c-8.531 8.555-7.406 24.469 3.422 35.297m34.36-33.211l1.874-1.875c.89-.89.938-2.203.024-3.047l-.61-.562c-.796-.75-2.039-.727-2.906.093l-1.851 1.899Zm-22.758 22.71l21.046-21.023l-3.492-3.468l-21.023 21l-1.945 4.476c-.188.492.304.985.82.82Zm-3.07 3.493c7.663 7.664 19.991 10.688 26.882 3.82c5.625-5.648 4.898-15.68-1.125-24.304l-2.39 2.39c4.78 7.078 5.718 15.024 1.171 19.57c-5.53 5.532-14.672 2.907-20.953-3.023Z"/></svg>
            <span data-text="signer">Signer</span>
        </div>
    </div>
    <script src="view.js" type="module"></script>
</body>

</html>