#apps-list .app-container:last-of-type {
    margin-bottom: 1em;
}

.subtitle {
    word-wrap: break-word;
    white-space: normal;
}

.screenshots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}

.screenshots:last-of-type {
    margin-bottom: 1em;
}

.screenshot {
    max-width: 48%;
    border-radius: 4px;
    border: 0.75px solid rgba(0, 0, 0, 0.2);
}
